<form novalidate [formGroup]="form" (ngSubmit)="save()">
  <!-- <div class="form-group" *ngFor="let control of form.getControls()">
    <label>{{control.label}}</label>
    <input class="form-control"
      formControlName="{{control.propertyName}}"
      [(ngModel)]="subject[control.propertyName]">
    <ul class="list-unstyled text-danger" *ngIf="control.invalid && control.touched">
      <li *ngFor="let error of control.getValidationMessages()">
        {{error}}
      </li>
    </ul>
  </div> -->
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" formControlName="name" (input)="subject.name"/>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" formControlName="description" (input)="subject.description"/>
  </div>
  <button class="btn btn-primary mr-1"
    type="submit"
    [disabled]="form.invalid || !form.dirty">{{texts.saveLabel}}</button> 
  <button class="btn btn-secondary mr-1"
    (click)="reset()"
    [disabled]="!form.dirty">{{texts.resetLabel}}</button>
  <button class="btn btn-info"
    (click)="back()">{{texts.backToListLabel}}</button>
</form>
